@tailwind base;
  @tailwind components;
  @tailwind utilities;

  .shadow-9xl {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
   
    
   }
   .shadow-8xl {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
  }



  .roboto{
    font-family: var(--font-roboto);
   }

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
/* How It Works Page animation */
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }


  @keyframes popUp {
    from {
      opacity: 0;
      transform: scale(0.5) translateY(50px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
  
  .testimonial-card {
    opacity: 0;
    transform: scale(0.5) translateY(50px);
  }
  
  .testimonial-card.animate-popUp {
    animation: popUp 0.4s ease-out forwards;
  }
  
  
.max-w-screen-89xl{
  max-width: 1270px;
}

.custom-gradient {
  @apply bg-black;
  background-image: linear-gradient(to right, #000000, rgba(0, 0, 0, 0));
}



/* Define the keyframes for the animation */
@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Base class for the animation */
.animate-on-scroll {
  opacity: 0; /* Ensure items are initially hidden */
  animation: slideInUp 0.5s ease-out forwards;
  animation-fill-mode: forwards; /* Ensure they stay visible after the animation */
}

/* Media query to apply the animation only for screens larger than 1200px */
@media (min-width: 1200px) {
  .animate-on-scroll {
    opacity: 0; /* Ensure items are initially hidden */
    animation: slideInUp 0.5s ease-out forwards;
    animation-fill-mode: forwards; /* Ensure they stay visible after the animation */
  }
}




/* Define the keyframes for the pop-up animation */
@keyframes popUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Base class for the animation */
.pop-up {
  opacity: 0; /* Ensure items are initially hidden */
  transition: opacity 0.5s, transform 0.5s;
}

.pop-up.in-view {
  animation: popUp 0.5s ease-out forwards;
  opacity: 1;
  transform: scale(1);
}

/* Media query to disable the animation below 1200px */
@media (max-width: 1199px) {
  .pop-up {
    opacity: 1;
    transform: scale(1);
  }
}


/* Define the keyframes for the pop-up animation */
@keyframes popUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Base class for the animation */
.pop-up {
  opacity: 0; /* Ensure items are initially hidden */
  transition: opacity 0.5s, transform 0.5s;
}

.pop-up.in-view {
  animation: popUp 0.5s ease-out forwards;
  opacity: 1;
  transform: scale(1);
}




/* CSS for animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp 0.5s ease-out;
}





/* CSS for animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp 0.5s ease-out;
}




@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideIn {
  animation: slideInFromBottom 0.5s ease forwards;
}




.animate-slide-up {
  transition: transform 0.5s ease;
  transform: translateY(0);
}

.animate-slide-up.hidden {
  transform: translateY(100%);
}
